---
---

@import '@primer/css/index.scss';
@import 'rouge.scss';


//$primary-color: $red-600;
$primary-color: $blue-100;
$secondary-color: $black;

.margin-auto {
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0;
  min-height: 100vh;
}

footer {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: $bg-black;
  width: 100%;
  margin-top: auto;
}

footer p {
  color: $white-fade-70;
}


h2 {
  margin-bottom: 20px;
}

.guide h2 a {
  color: $secondary-color;
}
.guide h1 a {
  color: $secondary-color;
}

li {
  list-style-type: none;
}

ol ol {
  margin-left: $spacer-3;
}

pre {
  overflow: auto;
  padding: $spacer-3;
  margin-bottom: $spacer-3;
}

// Primer modification.
.Header {
  background-color: $primary-color;
}
.Header .d-flex {
  justify-content: flex-start;
  margin: auto;
}

.Header-item .btn {
  color: $black;
  background-color: $blue-200;
  box-shadow: unset;
  border-radius: 3px;
  border: unset;
}
.Header-item .btn .octicon {
  color: $black;
}
.Header-item .btn:hover {
  background-color: rgba($blue-300, 0.4);
}

.flash-full {
  border-top: none;
}
