---
---

@import '@primer/css/index.scss';
@import 'rouge.scss';


$primary-color: $blue-100;
$secondary-color: $black;

$canvas-default-color: rgb(34, 39, 46);

$flash-border-color: rgba(27, 31, 36, 0.15);
$flash-bg-color: #f6f8fa;

.margin-auto {
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0;
  min-height: 100vh;
}

body {
  font-size: unset !important;
}

code {
 font-size: 0.9rem;
}

footer {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: $bg-black;
  width: 100%;
  margin-top: auto;
}

footer p {
  color: $white-fade-70;
}


h2 {
  margin-bottom: 20px;
}

.guide h2 a {
  color: $secondary-color;
}
.guide h1 a {
  color: $secondary-color;
}

li {
  list-style-type: none;
}

ol ol {
  margin-left: $spacer-3;
}

pre {
  overflow: auto;
  padding: $spacer-3;
  margin-bottom: $spacer-3;
}

// Primer modification.
.Header {
  background-color: $canvas-default-color;
  flex: 1;
  overflow: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.Header::-webkit-scrollbar {
  display: none;
}
.Header .d-flex {
  justify-content: center;
  margin: auto;
}

.Header-item .btn {
  color: $white;
  background-color: transparent;
  box-shadow: unset;
  border-radius: 3px;
  border: unset;
}
.Header-item .btn .octicon {
  color: $white;
}
.Header-item .btn:hover {
  text-decoration: underline;
}

.Title {
  padding: 2rem;
  background-color: $canvas-default-color;
  color: $white;
  text-align: center;
}

.text-gradient {
  background-clip: text;
  background: linear-gradient(-70deg, #ed4e50 0%, #9867f0 100%);
  color: transparent;
  -webkit-background-clip: text;
}

.Title a {
  font-size: 4rem;
  font-weight: 700;
}

@media (max-width: 480px) {
  .Title h1 {
    font-size: 3rem;
  }
}

.Title h2 {
  font-weight: 200;
}

.flash-full {
  border-top: none;
  background-color: $flash-bg-color;
  border-color: $flash-border-color;
}
