<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    <div class="flash flash-full">
      <div class="margin-auto col-md-11 col-lg-7 col-xl-5">
        <h1 class="pb-2">
          <a class="text-gradient" href="#">{{ page.title }}</a>
        </h1>
        <p>{{ page.description }}</p>
        {% for item in page.checklist %}
        <p>{% octicon check-circle class:"text-green" %}{{ item }}</p>
        {% endfor %}
      </div>
    </div>
    <main class="guide col-md-11 col-lg-7 col-xl-5">
      <div class="m-3">
        <h2>Chapters</h2>
        {{ content | toc_only }}
      </div>
      <div class="m-3">
        {{ content }}
      </div>
    </main>
    <footer>
      {%- include footer.html -%}
    </footer>
  </body>
</html>
