<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    <div class="Title">
      <h1>Active Graph</h1>
      <h2>GraphQL-powered server framework for Go</h2>
    </div>
    <div class="flash flash-full">
      <div class="margin-auto col-md-11 col-lg-7 col-xl-5">
        <p>
          These are the new guides for {{ site.title }} based on
          <a href="https://github.com/{{ site.repository }}/tree/{{ site.version }}">{{ site.version }}</a>
        </p>
      </div>
    </div>
    <main class="home col-md-11 col-lg-7 col-xl-5">
      <div class="m-3">
        {{ content }}
      </div>
    </main>
    <footer>
      {%- include footer.html -%}
    </footer>
  </body>
</html>
