<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    <div class="flash flash-full">
      <div class="margin-auto col-md-11 col-lg-7">
        <p>
          These are the new guides for {{ site.title }} based on
          <a href="https://github.com/{{ site.repository }}/tree/{{ site.version }}">{{ site.version }}</a>
        </p>
      </div>
    </div>
    <main class="col-md-11 col-lg-7 margin-auto">
      <div class="m-3">
        {{ content }}
      </div>
    </main>
  </body>
</html>
